include LICENSE
include Makefile
include README.md
include docs/*.md
include tallynet/csrc/*.cpp
include tallynet/csrc/*.cu
include tallynet/lib/.gitkeep
recursive-include scripts *
recursive-include .github *.yml
